.founder-name {
  color: #fff;
  display: block;
  /* Ensure it's on its own line */

}

.founder-title {
  font-style: normal;
  /* No italic */
  display: block;
  /* Space between the title and the location */
}

.founder-location {
  display: block;
  /* Same size as the title */
  color: #aaa;
  /* Space between the location and the description */
}

#detail-wrapper{
  font-family: 'Open Sans', sans-serif;
}

.profile-card:hover {
  border-color: #b91010;
  transform: translateY(-5px);
}

.profile-card {
  position: relative;
  overflow: hidden;
  height: 400px;
  /* Set a fixed height for the card */
  border: 1px solid white;
  transition: transform 0.3s ease, border-color 0.3s ease;

}

.profile-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.profile-card:hover img {
  transform: scale(1.05);
  filter: grayscale(100%);
}

.team-container {
  position: relative;
    text-align: center;
    max-width: 880px;
}

.team-container h1 {
  text-rendering: geometricPrecision;
  text-align: center;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: normal;
  line-height: 1em;
}

.team-container p {
  text-rendering: geometricPrecision;
  text-align: center;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  margin: 2em auto 2.5em;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.related-btn{
 border:white 1px solid;
  text-decoration: none;
  transition: all 0.3s ease; 
}

.related-btn:hover{
  background-color: #b91010;
  color: #fff;
}

.related-btn:focus{
  outline: none;
}


.related-btn:disabled:hover{
  background-color: #b91010;
  color: #fff;
}