  
@import url('https://rsms.me/inter/inter.css');

html,
body {
  background: #000;
}


.postogon-hero {
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  position: fixed;
  display: flex;
  height: 50vh;
  width: 100%;
}


.postogon-hero h1 {
  color: white;
  position: relative;
  width: 100%;
  overflow: hidden; /* Prevent overflow during scaling */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postogon-hero p {
  font-size: clamp(14px, 1.25vw, 18px);
  /* This is just an example; you need to adjust it based on your actual requirements */
  color: white;
}

.postogon-hero h1 span:first-of-type {
  /* Position "All-new" over "Postogon" */
  font-size: clamp(14px, 1.25vw, 18px);
  color: hsl(0 100% 50%);
  z-index: 2; /* Ensure it's above the "Postogon" text */
}

.postogon-hero h1 span:last-of-type {
  font-size: rem; /* Large initial size */
  opacity: 1;
  color:black;
    z-index: 1;
  position: relative; /* Ensure it's stacked below "All-new" */
  align-self: center; /* Center it within the flex container */
  font-size: calc(53px + (4500vw - 46080px)/896);
  letter-spacing: calc(-2px + (-200vw - -2048px)/896);
}

.postogon-hero h1 span {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.down {
  text-align: center;
  position: absolute;
  opacity: 0.6;
  color:white;
  height: 40px;
  bottom: 40px;
}

.content {
  box-shadow: 0 0 100px rgba(0,0,0,0.4);
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background: #000;
  top: 50vh;  

  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0; /* Start with 0 opacity */
  transform: translateY(50px); /* Start slightly below its final position */
}

.footer{ 
  z-index:999;
  color:black!important;
}