.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60vh;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

.circle {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 1px solid rgba(239,68,68,1);
  height: 120px;
  width: 120px;
  transform: translate(-50%, -50%);
}

.splash h1 {
  position: relative;
  font-size: 3.5vw;
  color: #fff;
  z-index: 2;
}

.spanSecondary {
  color: hsl(0 100% 50%);
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width:768px) {
  .circle {
      height: 70px;
      width: 70px;
  }

  .splash h1 {
      font-size: 6vw;
  }
}

@media screen and (min-width:768px) {
  .circle {
      height: 100px;
      width: 100px;
  }
}