/* Styling for the Header */
.header {
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.header p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  cursor:pointer;
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin: 8px auto;
  max-width: 1920px;
}

<<<<<<< Updated upstream
=======
.burger{
	display: block;
  margin-top: 75px;
	cursor: pointer;
}

.bline{
	display: none;
  transition-property: transform, top;
  transition-delay: 0ms, 160ms;
  transition-duration: 200ms;
	width: 35px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}
/* RETURN */
.header.container{
  display:none;
  top: 0;
  transform: rotateZ(45deg);
  transition-property: top, transform;
  transition-delay: 0ms, 160ms;
  transition-duration: 200ms;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

>>>>>>> Stashed changes
/*
.navbar-logo img {
  width: 40px;
  height: 35px;
  margin-right: 10px;
}

/* Mobile styles */
@media screen and (max-width: 768px) {

  /* Decrease font size and line height for smaller screens */
  .hero .container h1 {
    font-size: 36px; /* Adjust as needed */
    line-height: 1.5; /* Adjust as needed */
  }

  header p {
    font-size: 24px;
  }
  
  .burger{
    margin-top: 65px;
  }

  .bline {
    display: block;
  }

  /* For future when hamburger is open (animation stuff) */
  .header.menu-open .burger {
  }

  .header.menu-open .bline {
    width: 25px;
  }

  .content-header {
    padding: 0 20px;
  }

}
