.c-footer {
  padding-top: 37px;
  padding-bottom: 40px;
  background: #fff;
  border-top: 1px solid #e3e3e3;
}

.c-footer__contact a {
  line-height: 30px;
}

.c-footer .c-container {
  justify-content: space-between;
  padding: 0 100px;
}

/* For example, you can define styles for .content-contact and .ft-h elements */

@media screen and (max-width: 768px) {
  .c-footer__contact {
    width: 100%; /* Make it full width on smaller screens */
    flex-direction: column; /* Stack elements vertically */
  }

  .c-footer .c-container {
    padding: 0 0px;
  }
  
}



.imperfect-absolute {
  bottom: 10px;  /* You can adjust this to change distance from the bottom */
  right: 20px; /* Adjust the right position if it's too close to the edge */
  opacity: 0.15;
  font-weight: 600;
  letter-spacing: -1px;
  cursor: pointer;
  font-size: text-xl;
}