.c-footer {
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  border-top: 1px solid #e3e3e3;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-footer__contact a {
  line-height: 30px;
}

.c-footer .c-container {
  /* justify-content: space-between; */
  padding: 0 100px;
}

/* For example, you can define styles for .content-contact and .ft-h elements */

@media screen and (max-width: 768px) {
  .c-footer__contact {
    width: 100%; /* Make it full width on smaller screens */
    flex-direction: column; /* Stack elements vertically */
  }

  .c-footer .c-container {
    padding: 0 0px;
  }
  
}

.imperfect-absolute {
  opacity: 0.15;
  font-weight: 600;
  letter-spacing: -1px;
}

.c-footer .social-icons a {
  margin: 0 10px;
  color: #333; /* Change color as needed */
  font-size: 24px; /* Adjust size as needed */
}

.c-footer .social-icons a:hover {
  color: #555; /* Darken on hover for visual feedback */
}


@media (max-width: 768px) {
  .c-footer .social-icons a {
    font-size: 20px; /* Smaller icons for mobile */
  }
}
