
.noise {
  animation: noise 1.2s steps(3) infinite both;
  background: url(https://contra.com/freelance-industry-report-2021/images/background-noise.png?0140508b3ca119631050c945a1c2987c);
  height: 300%;
  left: -50%;
  pointer-events: none;
  position: fixed;
  top: -50%;
  width: 200%;
  will-change: auto;
  z-index: 99999;
}

.container {
  padding: 0 80px;
}


@keyframes noise {
  0% { transform: translate3d(1%,-1%,0);}
  10% { transform: translate3d(-5%,-2%,0);}
  20% { transform: translate3d(10%,5%,0);}
  30% { transform: translate3d(5%,-11%,0);}
  40% {transform: translate3d(-12%,-5%,0);}
  50% { transform: translate3d(10%,9%,0);}
  60% { transform: translate3d(15%,0,0);}
  70% { transform: translate3d(-10%,8%,0);}
  80% { transform: translate3d(10%,2%,0);}
  90% { transform: translate3d(1%,5%,0);}
  100% { transform: translate3d(0,8%,0);}
}


.main {
/* Styling for the Hero section */
  .hero {
    width: 100%;
    height: 100vh;
    margin-top: -60px;
    background: #000;
    display: flex;
    align-items: center;
    
    .container h1 {
      color: white;
      font-size: calc(53px + (4500vw - 46080px)/896);
      letter-spacing: calc(-2px + (-200vw - -2048px)/896);
    }

    .container p {
        color: white;
      font-size: calc(1px + (4500vw - 46080px)/896);
        margin-bottom: 40px;
    }
  }
}
  
  .cta-button {
    background: #fff;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background: #0056b3;
    color: #fff;
  }
  
  /* Styling for the About section */
  .about {
    background: #f8f9fa;
    padding: 60px 0;
  }
  
  .about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 18px;
  }
  
/*RESPONSIVE*/

@media screen and (max-width:768px) {
  
  .container {
    padding: 0 30px;
  }
  
  .form {
    flex-direction: column;
    
    input {
      margin: 0;
    }
    .invest {
      width: 100%;
      
      span {
        font-size: 12px;
      }
    }
  }
}  