.noise {
  animation: noise 1.2s steps(3) infinite both;
  background: url(https://contra.com/freelance-industry-report-2021/images/background-noise.png?0140508b3ca119631050c945a1c2987c);
  height: 300%;
  left: -50%;
  pointer-events: none;
  position: fixed;
  top: -50%;
  width: 200%;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  /* Trigger GPU acceleration */
  z-index: 2;
  /* Adjust based on your needs */
}


/* CSS */
.sticky {
  top: 0;
  z-index: 10;
  transition: top 0.3s ease-in-out;
}

.sticky-hidden {
  top: -65px;
  /* Or -var(--header-height, 65px) if you prefer */
}


@keyframes noise {
  0% {
    transform: translate3d(1%, -1%, 0);
  }

  10% {
    transform: translate3d(-5%, -2%, 0);
  }

  20% {
    transform: translate3d(10%, 5%, 0);
  }

  30% {
    transform: translate3d(5%, -11%, 0);
  }

  40% {
    transform: translate3d(-12%, -5%, 0);
  }

  50% {
    transform: translate3d(10%, 9%, 0);
  }

  60% {
    transform: translate3d(15%, 0, 0);
  }

  70% {
    transform: translate3d(-10%, 8%, 0);
  }

  80% {
    transform: translate3d(10%, 2%, 0);
  }

  90% {
    transform: translate3d(1%, 5%, 0);
  }

  100% {
    transform: translate3d(0, 8%, 0);
  }
}

@media (prefers-reduced-motion: reduce) {

  .noise,
  .jumbo {
    animation: none;
    /* Disables animation if the user prefers reduced motion */
  }
}

/* Styling for the Hero section */
.main .hero {
  width: 100%;
  height: 100vh;
  margin-top: -60px;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.main .hero .container h1 {
  color: white;
  font-size: calc(53px + (4500vw - 46080px)/896);
  letter-spacing: calc(-2px + (-200vw - -2048px)/896);
}

.main .hero .container p {
  font-size: clamp(14px, 1.25vw, 18px);
  /* This is just an example; you need to adjust it based on your actual requirements */
  color: white;
}

@keyframes jumbo {
  to {
    background-position: 350% 50%, 100% 0%;
  }
}

.jumbo {
  --stripesDark: repeating-linear-gradient(100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%);
  --rainbow: repeating-linear-gradient(843219deg,
      white 10%,
      red 15%,
      black 20%,
      black 25%,
      white 30%);
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  pointer-events: none;
}



/* Styles for header and navigation when scrolled */
.scrolled {
  background-color: #000;
  /* Change to your desired background color */
  box-shadow: 0 4px 8px hsla(22, 10%, 2%, 0.4);
  /* Add box-shadow as needed */
}

header .scrolled {
  background-color: #333;
  /* Change this to your desired background color */
}

.nav .scrolled {
  background-color: #333;
  /* Change this to your desired background color */
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: 150%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: scroll;
}



.dark .jumbo {
  /* mix-blend-mode:hard-light; */
  filter: blur(10px) opacity(50%) saturate(200%);
}

.dark .jumbo::after {

  background-image: var(--stripesDark), var(--rainbow);

}