/* Styling for the hero section */
.about {
  background: #f8f9fa;
  padding: 60px 0;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
}

/* Styling for the Our Founders section */
.founders {
  background: #ffffff; /* Replace with your desired background color */
  padding: 60px 0;
}

.founders h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.founders p {
  font-size: 18px;
}
