@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.noise {
  animation: noise 1.2s steps(3) infinite both;
  background: url(https://demo.imperfectandcompany.com/0140508b3ca119631050c945a1c2987c.png);
  height: 300%;
  left: -50%;
  pointer-events: none;
  position: fixed;
  top: -50%;
  width: 200%;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  /* Trigger GPU acceleration */
  z-index: 2;
}


input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  position: relative;
}

input[type="radio"]::after, input[type="checkbox"]::after {
  position: absolute;
  top: 0;
  left: 0;
  background: #333 !important;
}


@keyframes noise {
  0% {
    transform: translate3d(1%, -1%, 0);
  }

  10% {
    transform: translate3d(-5%, -2%, 0);
  }

  20% {
    transform: translate3d(10%, 5%, 0);
  }

  30% {
    transform: translate3d(5%, -11%, 0);
  }

  40% {
    transform: translate3d(-12%, -5%, 0);
  }

  50% {
    transform: translate3d(10%, 9%, 0);
  }

  60% {
    transform: translate3d(15%, 0, 0);
  }

  70% {
    transform: translate3d(-10%, 8%, 0);
  }

  80% {
    transform: translate3d(10%, 2%, 0);
  }

  90% {
    transform: translate3d(1%, 5%, 0);
  }

  100% {
    transform: translate3d(0, 8%, 0);
  }
}

@media (prefers-reduced-motion: reduce) {

  .noise {
    animation: none;
  }
}

.c-footer {
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  border-top: 1px solid #e3e3e3;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-footer__contact a {
  line-height: 30px;
}

.c-footer .c-container {
  /* justify-content: space-between; */
  padding: 0 100px;
}

/* For example, you can define styles for .content-contact and .ft-h elements */

@media screen and (max-width: 768px) {
  .c-footer__contact {
    width: 100%; /* Make it full width on smaller screens */
    flex-direction: column; /* Stack elements vertically */
  }

  .c-footer .c-container {
    padding: 0 0px;
  }
  
}

.App {
  width: 100%;
  height: 100%;
}

:root {
  --main-background-color: #000;
  --text-color: white;
  --font-size-h1: calc(53px + (4500vw - 46080px) / 896);
  /* Define other variables */
}


* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  border: 0px;
  vertical-align: baseline;
}

body {
  background: #000;
  margin: 0px;
  min-height: 100%;
  height: auto;

  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; for custom scrolling later */
  font-size: 16px;
}

html {
  overflow-x:hidden;
  height: 100%;
  min-height: 100%;
  position: relative;

}

/*RESPONSIVE*/

@media screen and (max-width:768px) {
  body {
    font-size: 15px;
  }
}
