*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }

    to {
        background-position: 350% 50%, 350% 50%;
    }
}

/* Desktop Nav */

.nav-container {
    width: 100%;
    /* Add this line to make it full-width */
    z-index: 300;
    left: 0;
    top: 0;
    right: 0;
}

nav .desktop-nav {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

nav .desktop-nav li.active {
    opacity: 1 !important;
    font-weight: 500;
    border-bottom: 1px solid white;
    transition: all 700ms ease;
}

nav .desktop-nav li.active:hover {
    opacity: 0.50 !important;
    font-weight: 200;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 700ms ease;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}



nav .desktop-nav li {
    margin-right: 0;
    
}

.nav-container.active .desktop-nav {
    height: 100vh;
}



nav .desktop-nav li {
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 400ms;
    margin-right: 20px;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
}

nav .desktop-nav li a:hover {
    color: #fff;
    opacity: 0.5;
}

nav p {
    /* makes logo text thin */
    font-family: 'Poppins', sans-serif;
}

.desktop-nav .logo {
    font-family: 'Poppins', sans-serif;
}


.link-close {
    background: url('../../images/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Desktop Nav Animation */

.desktop-nav li {
    transition: all 400ms ease;
}

.desktop-nav.hide li {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* Overlay Animation */

.overlay {
    transition: all 400ms ease;
}

/* Navigation Menu Items Transition Delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10) {
    transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9) {
    transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8) {
    transition-delay: 60ms;
}

.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7) {
    transition-delay: 90ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6) {
    transition-delay: 120ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5) {
    transition-delay: 150ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4) {
    transition-delay: 180ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3) {
    transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2) {
    transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1) {
    transition-delay: 270ms;
}

/* Hidden Items */

.mobile-nav {
    display: none;
}

/* Media Queries */

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 24px;
    }
}

@media (max-width: 768px) {

    .dropdown-content {
        right: auto; /* Reset right positioning */
        left: 50%; /* Center it */
        transform: translateX(-50%); /* Adjust translation to align properly */
      }

      .nav-container .desktop-nav {
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;        
        height: 0vh;
        background: rgba(0, 0, 0, 0.93);
        justify-content: start;
        overflow: hidden;
        z-index: -1;
        transition: all 1000ms ease;
        position: fixed;
    }

    nav ul {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        height: 44px;
    }

  

    .nav-container.active .desktop-nav li a {
        transform: translateY(0);
        opacity: 1;
    }

    /* Mobile Nav */
    nav .mobile-nav {
        display: inline-block;
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        transition: all;
    }



    nav .menu-icon-container {
        min-width: 44px;
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        /* Needed for absolute positioning inside */
    }

    nav .menu-icon {
        position: relative;
        z-index: 1;
        /* Ensure the icon is above the pseudo-element */
    }

    /* Extend the clickable area more explicitly */
    nav .menu-icon-container:before {
        content: '';
        position: absolute;
        top: -15px;
        /* Increase the negative space if necessary */
        bottom: -15px;
        left: -15px;
        right: -15px;
        /* Increase this value if the right side is still not clickable */
        background: transparent;
    }

    /* Optional: Add a pseudo-element to increase the clickable area */
    nav .menu-icon:before {
        content: '';
        position: absolute;
        top: -10px;
        /* Adjust as needed */
        bottom: -10px;
        /* Adjust as needed */
        left: -10px;
        /* Adjust as needed */
        right: -10px;
        /* Increase or adjust this value as needed */
        background: transparent;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        position: absolute;
        height: 1px;
        width: 20px;
        margin: 0px 0px 0px 0px;
        background: #fff;
        transition-property: transform, top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    nav .menu-icon .line-1 {
        top: -4px;
    }

    nav .menu-icon .line-2 {
        top: 4px;
    }

    .nav-container.active {
        transition: top 0.3s ease-in-out;
    }


    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    /* Nav Animation */
    .nav-container nav {
        transition: all 400ms ease;
    }
}

/* Add a media query for smaller screens if necessary */
@media (max-width: 500px) {
    .dropdown-content {
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

/* Position the "Imperfect and Company" link to the left */
.nav-container .desktop-nav li:first-child {
    opacity: 1;
    margin-right: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(50, 50, 50, 0.7); /* Darker translucent background */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

/* Dropdown Button */
.dropbtn {
    background: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

  .dropdown:hover .dropdown-content .link:hover { 
    opacity: 25%;
  }
  
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
    backdrop-filter: blur(5px); /* Blur effect for the background */
}

    .nav-container .desktop-nav a {
        font-weight: 300; /* Lighter font for a modern look */
        white-space: nowrap
    }

/* Inside your media query for max-width: 768px */
.dropdown-content li {
  }

/* Hover effect for dropdown links */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
}
  
  .dropdown-content li a {
    display: block; /* Makes the entire area of the link clickable */
    color: white; /* Text color for the link */
    text-align: left; /* Aligns the text to the left */
    background: transparent; /* No background by default */
    text-decoration: none; /* Removes underline from links */
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }