*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }

    to {
        background-position: 350% 50%, 350% 50%;
    }
}

/* Desktop Nav */

.nav-container {
    width: 100%;
    /* Add this line to make it full-width */
    z-index: 300;
    left: 0;
    top: 0;
    right: 0;
}

nav .desktop-nav {
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .desktop-nav li.active {
    opacity: 1 !important;
    font-weight: 500;
    border-bottom: 1px solid white;
    transition: all 700ms ease;
}

nav .desktop-nav li.active:hover {
    opacity: 0.50 !important;
    font-weight: 200;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 700ms ease;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

nav .desktop-nav li {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 400ms;
    margin-right: 20px;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
}

nav .desktop-nav li a:hover {
    color: #fff;
    opacity: 0.5;
}

nav p {
    /* makes logo text thin */
    font-family: 'Poppins', sans-serif;
}

.desktop-nav .logo {
    font-family: 'Poppins', sans-serif;
}


.link-close {
    background: url('../../images/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Desktop Nav Animation */

.desktop-nav li {
    transition: all 400ms ease;
}

.desktop-nav.hide li {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* Overlay Animation */

.overlay {
    transition: all 400ms ease;
}

/* Navigation Menu Items Transition Delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10) {
    transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9) {
    transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8) {
    transition-delay: 60ms;
}

.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7) {
    transition-delay: 90ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6) {
    transition-delay: 120ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5) {
    transition-delay: 150ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4) {
    transition-delay: 180ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3) {
    transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2) {
    transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1) {
    transition-delay: 270ms;
}

/* Hidden Items */

.mobile-nav {
    display: none;
}

/* Media Queries */

@media (max-width: 1100px) {
    .nav-container nav {
        width: 100%;
        padding: 0 24px;
    }
}

@media (max-width: 768px) {
    .nav-container .desktop-nav {
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: rgba(0, 0, 0, 0.93);
        justify-content: start;
        overflow: hidden;
        z-index: -1;
        transition: all 1000ms ease;
        position: fixed;
    }

    nav ul {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        height: 44px;
    }

    nav .desktop-nav li {
        margin-right: 0;
    }

    .nav-container.active .desktop-nav {
        height: 100vh;
    }

    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 24px;
    }

    .nav-container .desktop-nav li:nth-of-type(2) {
        margin-top: 75px;
    }

    .nav-container .desktop-nav li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 20px;
        font-weight: 100;
        opacity: 0;
        transform: translateY(-80px);
        transition: all 700ms ease;
    }

    nav .desktop-nav li.active {
        border-bottom: none;
    }

    /* Add styles for the active link */
    .nav-container.active .desktop-nav li.active a {
        font-weight: 100;
        border-bottom: 1px solid white;
    }

    /* Add styles for the active link:hover */
    .nav-container.active .desktop-nav li.active a:hover {
        opacity: 0.50 !important;
        font-weight: 200;
        transition: all 700ms ease;
        border-bottom: 1px solid white;
    }

    .nav-container.active .desktop-nav li a {
        transform: translateY(0);
        opacity: 1;
    }

    /* Mobile Nav */

    nav .mobile-nav {
        display: inline-block;
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        transition: all;
    }

    nav .menu-icon-container {
        min-width: 44px;
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        /* Needed for absolute positioning inside */
    }

    nav .menu-icon {
        position: relative;
        z-index: 1;
        /* Ensure the icon is above the pseudo-element */
    }

    /* Extend the clickable area more explicitly */
    nav .menu-icon-container:before {
        content: '';
        position: absolute;
        top: -15px;
        /* Increase the negative space if necessary */
        bottom: -15px;
        left: -15px;
        right: -15px;
        /* Increase this value if the right side is still not clickable */
        background: transparent;
    }

    /* Optional: Add a pseudo-element to increase the clickable area */
    nav .menu-icon:before {
        content: '';
        position: absolute;
        top: -10px;
        /* Adjust as needed */
        bottom: -10px;
        /* Adjust as needed */
        left: -10px;
        /* Adjust as needed */
        right: -10px;
        /* Increase or adjust this value as needed */
        background: transparent;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2 {
        position: absolute;
        height: 1px;
        width: 20px;
        margin: 0px 0px 0px 0px;
        background: #fff;
        transition-property: transform, top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    nav .menu-icon .line-1 {
        top: -4px;
    }

    nav .menu-icon .line-2 {
        top: 4px;
    }

    .nav-container.active {
        transition: top 0.3s ease-in-out;
    }


    .nav-container.active nav .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    .nav-container.active nav .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    /* Nav Animation */
    .nav-container nav {
        transition: all 400ms ease;
    }
}

/* Position the "Imperfect and Company" link to the left */
.nav-container .desktop-nav li:first-child {
    opacity: 1;
    margin-right: auto;
    font-size: large;
}